<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Devour</title>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
    <div class="l-container">
        <div class="b-game-card">
          <div onclick="location.href = '/island';" class="b-game-card__cover" style="background-image: url(/static/img/island1.jpg);"></div>
        </div>
        <div class="b-game-card">
          <div onclick="location.href = '/snowflakes';" class="b-game-card__cover" style="background-image: url(/static/img/snowflakes.jpg);"></div>
        </div>
        <div class="b-game-card">
          <div onclick="location.href = '/chess';" class="b-game-card__cover" style="background-image: url(https://andrewhawkes.github.io/codepen-assets/steam-game-cards/game_3.jpg);"></div>
        </div>
        <div class="b-game-card">
          <div onclick="location.href = '/pi_game';" class="b-game-card__cover" style="background-image: url(/static/img/pi.jpg);"></div>
        </div>
      </div>
</body>
</html>